<div class="auth-area" >

    <form action="" method="POST"   #signupForm="ngForm" (ngSubmit)="onSignupFormSubmit(signupForm)" >
        <h3>Sign Up</h3>
    
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name"   [(ngModel)]="user.name"  placeholder="Enter name" required>
          
          </div>
    
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="user.email"  placeholder="Enter email">
        </div>
    
        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="user.phone"  placeholder="Enter phone number">
          </div>
    
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="user.password"  placeholder="Password">
        </div>
    
        <div class="form-group">
            <label>Address</label>
            <textarea name="address" class="form-control" name="address" [(ngModel)]="user.address"  cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
</div>

